<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Ordered Test Suite">
  <test name="Login and Clockin Flow">
    <classes>
      <class name="pageobjects.NewTest">
        <methods>
          <include name="correctLogin"/>
          <include name="wronglogin"/>
          <include name="clockin"/>
        </methods>
      </class>
    </classes>
  </test>
</suite>